.logo {
    padding: 22px;
    max-width: 991px;
    height: auto;
}

.switchLabel {
    text-decoration: underline;
    position: absolute;
    top: 10%;
}

.switchDiv {
    margin: 0 !important;
}

@media only screen and (max-width: 991px) {

    .logo img {
        width: 313px;
        height: auto;
    }
}