.reactSwitchCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.reactSwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 120px;
    height: 50px;
    background: #A7A9AC;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.reactSwitchLabel .reactSwitchButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px rgba(10, 10, 10, 0.29);
}

.reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.reactSwitchLabel:active .reactSwitchButton {
    width: 60px;
}

.periodName {
    position: absolute !important;
    cursor: pointer;
    margin: 0;
}

.switchDiv {
    padding-bottom: 14px;
}
