td, th {
    padding-left: 0 !important;
}

.clickable:hover {
    background-color: rgba(0, 82, 136, 0.25) !important;
    cursor: pointer;
}

.badge {
    height: 127px;
    padding-left: 11px !important;
}

#missionBadge {
    padding-left: 11px !important;
}
